body {
    font: 12px/150% Hiragino Sans GB, Microsoft Yahei, "\5b8b\4f53";
    color: #666;
}

.w {
    width: 1210px;
    margin: 0 auto;
}

.floor {
    margin-top: 48px;
}

.floor .header {
    position: relative;
    margin-bottom: 20px;
}

.floor .title {
    background: url(../images/head_main/floorTitleV2.png) no-repeat;
    width: 160px;
    height: 24px;
    margin: 0 auto;
}

.floor .f-tit {
    color: #312b30;
    text-align: center;
    max-width: 500px;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    margin: 4px auto 0;
    cursor: default;
}



.clr {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}



.floor .f-service .fore,
.floor .f-service .fore i,
.floor .f-service .fore span {
    display: inline-block;
    vertical-align: middle
}

.floor .f-service .fore {
    margin-right: 9px;
}

.floor .f-service .fore i {
    background: url(../images/head_main/indexV2.png) no-repeat;
    width: 14px;
    height: 14px;
    margin-right: 2px;
}

.floor .f-service {
    text-align: center;
    max-width: 500px;
    margin: 8px auto 0;
    cursor: default;
    font-size: 0;
}

.floor .f-service .fore1 i {
    background-position: -231px -91px;
}

.floor .f-service .fore span {
    font-size: 12px;
    color: #863177;
}


.hide {
    display: none;
}

.mingdian .title {
    background-position: 0 -108px;
}

.mingdian .l-cnt {
    position: relative;
    float: left;
    width: 403px;
    height: 600px;
}

.mingdian .saleSwitch {
    position: relative;
    z-index: 1;
}

.mingdian .saleSwitch .sales img {
    width: 403px;
    height: 399px;
}

.mingdian .saleSwitch .control {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    font-size: 0;
}

.mingdian .saleSwitch .control div.curr {
    background: #312b30;
    color: #fff;
}

.mingdian .saleSwitch .control .ct {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
    color: #312b30;
    background: #fff;
    width: 100px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.mingdian .saleSwitch .control div.curr i {
    position: absolute;
    top: -16px;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #312b30;
}
.mingdian .l-cnt .l-btm-ad {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 403px;
    height: 216px;
    z-index: 2;
}
.mingdian .r-cnt {
    float: left;
    width: 805px;
    border: 3px solid #f7f5f7;
    border-width: 3px 0 3px;
    overflow: hidden;
}
.mingdian .r-cnt ul {
    width: 105%;
}
.mingdian .r-cnt li {
    float: left;
    width: 403px;
    height: 198px;
    background: #f7f5f7;
}
.mingdian .r-cnt .detail {
    float: left;
    width: 180px;
    height: 197px;
}
.mingdian .r-cnt .brandLogo {
    display: block;
    width: 80px;
    height: 32px;
    margin: 40px 0 0 20px;
}
.mingdian .r-cnt .brandLogo img {
    width: 80px;
    height: 32px;
}
.mingdian .r-cnt .txt {
    display: block;
    font-size: 16px;
    width: 150px;
    height: 16px;
    line-height: 16px;
    color: #e43a3a;
    margin: 7px 0 0 30px;
    overflow: hidden;
}
.mingdian .r-cnt .tips {
    display: inline-block;
    position: relative;
    height: 21px;
    line-height: 21px;
    background: #312b30;
    padding: 0 19px 0 30px;
    margin-top: 8px;
    color: #fff;
    opacity: .9;
}
.mingdian .r-cnt .tips i {
    position: absolute;
    background: url(../images/head_main/indexV2.png) -243px -162px no-repeat;
    width: 11px;
    height: 21px;
    top: 0;
    right: -11px;
}
.mingdian .r-cnt .items {
    display: block;
    width: 203px;
    margin-top: 20px;
    overflow: hidden;
}
.mingdian .r-cnt .items .wp {
    display: block;
    width: 105%;
}
.mingdian .r-cnt .items a {
    position: relative;
    float: left;
    width: 100px;
    height: 160px;
    margin-right: 3px;
    background: #fff;
    text-align: center;
}
.mingdian .r-cnt .items .itemImg {
    position: relative;
    z-index: 1;
    width: 100px;
    height: 100px;
    margin-top: 10px;
}
.mingdian .r-cnt .items .line {
    display: block;
    position: relative;
    z-index: 1;
    width: 20px;
    height: 3px;
    background: #f7f5f7;
    margin: 14px auto 8px;
    transition: width .3s ease-out;
}
.mingdian .r-cnt .items a:hover .line{
    width: 40px;
}
.mingdian .r-cnt .items .price {
    position: relative;
    z-index: 3;
    font-size: 16px;
    font-family: arial;
    color: #e43a3a;
}
.mingdian .r-cnt li.style1 {
    background: #fff;
}
.mengbao .title {
    background-position: 0 -144px;
}
.floor .header .cat {
    font-size: 0;
    text-align: center;
    margin-top: 10px;
    height: 21px;
}
.floor .header .cat .sub-title {
    max-width: 1200px;
    display: inline-block;
    font-size: 0;
}
.floor .header .cat .sub-title .tag {
    position: relative;
    display: inline-block;
    padding: 0 3px;
    height: 20px;
    line-height: 20px;
    background: #f7f5f7;
    color: #312b30;
    font-size: 12px;
    margin: 0 18px 0 10px;
}
.floor .header .cat .sub-title .tag .lf {
    background-position: -202px -189px;
    left: -8px;
}
.floor .header .cat .sub-title .bg {
    position: absolute;
    background: url(../images/head_main/indexV2.png) no-repeat;
    width: 8px;
    height: 20px;
    top: 0;
}
.floor .header .cat .sub-title .tag .ri {
    background-position: -240px -189px;
    right: -8px;
}
.mengbao div.content {
    border-bottom: 1px solid #e8e7e8;
    height: 854px;
}
.floor-share1 .content .top-left {
    height: 557px;
    width: 1009px;
    float: left;
}
.floor-share1 .content div.short {
    height: 270px;
}
.floor-share1 .content .top-left .top-act {
    height: 270px;
    width: 1009px;
    border-bottom: 1px solid #e3e2e3;
}
.floor-share1 .top-left .small {
    width: 201px;
    height: 270px;
    float: left;
}
.floor-share1 .top-left .smaller {
    width: 192px;
    height: 270px;
    float: left;
}
.floor-share1 .top-left .big {
    width: 403px;
    height: 250px;
    float: left;
    margin-left: 1px;
}
.floor-share1 .content .top-right {
    width: 198px;
    float: left;
    margin-left: 1px;
    height: 557px;
}
.floor-share1 .top-right .title {
    background: #f7f5f7;
    font-size: 18px;
    color: #312b30;
    text-align: center;
    overflow: hidden;
    line-height: 40px;
    height: 40px;
    width: 198px;
}
.floor .top-right .tabs {
    width: 198px;
    text-align: center;
    font-size: 0;
}
.floor .top-right .tabs ul {
    max-width: 198px;
    padding-top: 5px;
    display: inline-block;
    height: 25px;
}
.floor .top-right .tabs ul li.curr {
    border-bottom: 2px solid #863177;
    cursor: pointer;
}
.floor .top-right .tabs ul li.short {
    max-width: 45px;
}
.floor .top-right .tabs ul li {
    height: 24px;
    line-height: 24px;
    float: left;
    text-align: center;
    word-break: break-all;
    margin: 0 11px;
    position: relative;
}
.floor .top-right .tabs ul li.curr .txt {
    color: #863177;
}
.floor .top-right .tabs ul li .txt {
    font-size: 12px;
    color: #312b30;
    max-width: 78px;
    overflow: hidden;
    display: block;
    height: 18px;
}
.floor .top-right .tabs ul li.curr i {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 3px 0 3px;
    border-color: #863177 transparent transparent transparent;
}
.floor .top-right .tabs ul li i {
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -3px;
}
.mengbao .content .top-right .tabs .tab-contents {
    height: 167px;
}
.floor-share1 .top-right .tab-contents {
    height: 472px;
    width: 198px;
    overflow: hidden;
}
.meizhuang .top-right div.tab-contents .item, .mengbao .top-right div.tab-contents .item {
    margin: 0 0 0 10px;
    border-bottom: 0;
}
.floor-share1 .top-right .tab-contents .item {
    width: 180px;
    height: 224px;
    margin: 0 0 24px 9px;
    display: block;
    position: relative;
    border-bottom: 1px dashed #e3e2e3;
}
.floor-share1 .b-quote {
    background: url(../images/head_main/indexV2.png) -152px -189px no-repeat;
    display: block;
    position: absolute;
    top: 18px;
    left: 8px;
    width: 26px;
    height: 26px;
}
.floor-share1 .short .a-quote {
    bottom: 60px;
}
.floor-share1 .a-quote {
    background: url(../images/head_main/indexV2.png) -186px -189px no-repeat;
    display: block;
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 12px;
    height: 12px;
}
.floor-share1 .top-right .tab-contents .item .desc {
    font-size: 12px;
    color: #312b30;
    width: 170px;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    word-break: break-all;
    text-align: left;
    margin-top: 5px;
}
.floor-share1 .content .bottom-half {
    float: left;
}
.floor-share1 .content div.bottom-left-tall {
    height: 578px;
    width: 605px;
}
.floor-share1 .content .bottom-half .title {
    width: 604px;
    height: 40px;
    text-align: center;
    background: #f7f5f7;
    overflow: hidden;
    line-height: 40px;
    font-size: 18px;
    color: #312b30;
}
.mengbao .content div.bottom-left-tall .brands {
    border-right: 1px solid #f8f8f8;
    border-bottom: 1px solid #f8f8f8;
}
.brands {
    height: 72px;
    border-top: 1px solid #e3e2e3;
}
.floor-share1 .content .bottom-half .brands .brand {
    width: 120px;
}
.brands .brand {
    width: 151px;
    height: 72px;
    float: left;
    position: relative;
}
.floor-share1 .content .bottom-half .brands .brand .name {
    width: 80px;
    margin: 20px 0 20px 35px;
    top: 0;
    left: 0;
}
.brands .brand .name {
    position: absolute;
    width: 80px;
    height: 32px;
    top: 20px;
    left: 35px;
    font-size: 20px;
    color: #000;
    text-align: center;
    line-height: 32px;
    overflow: hidden;
    word-break: break-all;
    cursor: pointer;
}
.floor-share1 .content .bottom-half .brands .brand img {
    width: 80px;
    height: 32px;
    margin-right: 0;
}
.brands .brand img {
    width: 80px;
    height: 32px;
    margin: 20px 35px;
}
.mengbao .content div.bottom-left-tall .items, .mengbao .content div.bottom-middle-tall .itmes {
    border-right: 1px solid #f8f8f8;
    border-bottom: 1px solid #f8f8f8;
}
.mengbao .content div.bottom-left-tall .items {
    width: 604px;
}
.floor-share1 .content .bottom-half .items li {
    height: 235px;
    width: 201px;
}
.floor-share1 .content .bottom-half li {
    float: left;
}
.floor-share1 .content .bottom-half .itemImg {
    width: 150px;
    height: 150px;
    padding: 20px 25px 0 25px;
}
.floor-share1 .content .bottom-half .item .name {
    display: block;
    width: 150px;
    text-align: center;
    height: 16px;
    line-height: 16px;
    padding: 9px 25px 0 25px;
    font-size: 12px;
    color: #312b30;
    overflow: hidden;
}
.floor-share1 .content .bottom-half .price {
    width: 150px;
    padding: 9px 25px 0 25px;
    text-align: center;
    display: block;
}
.floor-share1 .content .bottom-half .price span {
    font-size: 20px;
    color: #e43a3a;
}
.floor-share1 .content div.bottom-middle-tall {
    width: 405px;
    height: 578px;
}
.floor-share1 .content div.bottom-middle-tall .title {
    width: 403px;
}
.floor-share1 .content div.bottom-middle-tall .brands {
    width: 405px;
}
.mengbao .content div.bottom-middle-tall .brands {
    border-right: 1px solid #f8f8f8;
    border-bottom: 1px solid #f8f8f8;
}
.floor-share1 .content div.bottom-middle-tall .brands .brand {
    width: 134px;
}
.floor-share1 .content div.bottom-middle-tall .brands .brand .name {
    margin: 20px 0 0 35px;
}
.floor-share1 .content .bottom-right-tall {
    height: 578px;
    width: 200px;
}
.floor-share1 .content div.bottom-right-tall .title {
    background: #f7f5f7;
    text-align: center;
    font-size: 18px;
    color: #312b30;
    overflow: hidden;
    width: 201px;
}
.floor-share1 .content div.bottom-right-tall .brands .brand {
    width: 200px;
    border-bottom: 1px solid #f8f8f8;
}
.floor .content .bottom-half .itemImg, .floor .content .bottom-items .itemImg, .fushi .container .middle .itemImg, .temai .tab-cnt li .itemImg img, .zhicai .otherItem .itemImg, .zhicai .topTwo .itemBg {
    transition: transform .3s ease-out;
}
.floor-share1 .bottom-half .items li:hover .itemImg{
    transform: translateX(-5px);
} 
.meizhuang .title {
    background-position: 0 -180px;
}
.meizhuang .content div.top-right {
    width: 199px;
    height: 270px;
    overflow: hidden;
}
.floor-share1 .content .bottom-half {
    float: left;
}
.floor-share1 .content .bottom-left {
    width: 605px;
    height: 349px;
}
.floor-share1 .content .bottom-half div.wid1 {
    width: 605px;
}
.floor-share1 .content .bottom-half .title {
    width: 604px;
    height: 40px;
    text-align: center;
    background: #f7f5f7;
    overflow: hidden;
    line-height: 40px;
    font-size: 18px;
    color: #312b30;
}
.floor-share1 .content .bottom-left .brands {
    border-right: 1px solid #f5f5f5;
    width: 605px;
    border-bottom: 1px solid #f5f5f5;
}
.floor-share1 .content .bottom-left .items {
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    width: 605px;
}
.food .title {
    background-position: 0 -216px;
}
.baojian div.content .top-left .top-act, .food div.content .top-left .top-act, .meizhuang div.content .top-left .top-act {
    border-bottom: none;
}
.floor-share1 .content .top-left .bottom-items {
    height: 286px;
    overflow: hidden;
    width: 1010px;
}
.floor-share1 .content .top-left .bottom-items li.right-bordered {
    border-right: 1px solid #e8e7e8;
    width: 201px;
}
.floor-share1 .content .top-left .bottom-items li {
    float: left;
    height: 287px;
    width: 202px;
    overflow: hidden;
}
.floor-share1 .content .top-left .bottom-items .country {
    width: 202px;
    height: 30px;
    background: #f7f5f7;
    font-size: 0;
    text-align: center;
}
.inlie-blk {
    display: inline-block;
}
.floor-share1 .content .top-left .bottom-items .country .cImg {
    width: 20px;
    height: 13px;
    margin-right: 4px;
    float: left;
    margin-top: 9px;
}
.floor-share1 .content .top-left .bottom-items .country .name {
    font-size: 14px;
    color: #312b30;
    max-width: 74px;
    line-height: 30px;
    height: 25px;
    overflow: hidden;
    float: left;
}
.floor-share1 .content .top-left .bottom-items a.short {
    height: 256px;
}
.floor-share1 .content .top-left .bottom-items .item {
    width: 202px;
    height: 285px;
    display: block;
    position: relative;
}
.floor-share1 .content .top-left .bottom-items .item .itemImg {
    width: 150px;
    height: 150px;
    padding: 20px 26px 9px 26px;
}
.floor-share1 .content .top-left .bottom-items .item .cornerImg {
    position: absolute;
    background: url(../images/head_main/indexV2.png) -247px 0 no-repeat;
    width: 40px;
    height: 40px;
    top: 20px;
    left: 20px;
    text-align: center;
    line-height: 56px;
    font-size: 18px;
}
.floor-share1 .content .top-left .bottom-items .item .name {
    font-size: 12px;
    color: #312b30;
    width: 168px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    overflow: hidden;
    padding: 0 17px;
    display: block;
}
.floor-share1 .content .top-left .bottom-items .item .price {
    text-align: center;
    margin-top: 7px;
    display: block;
}
.floor-share1 .content .top-left .bottom-items .item .price span {
    font-size: 20px;
    color: #e43a3a;
}
.floor .top-right .tabs ul li:hover {
    cursor: pointer;
}
.floor-share1 .top-right .tab-contents .item .itemImg {
    width: 180px;
    height: 160px;
}
.baojian .title {
    background-position: 0 -253px;
}
.floor-share1 .bottom-items li:hover .itemImg{
    transform: translateX(-5px);
} 
.shuma .title {
    background-position: 0 -289px;
}
.qiche .title {
    background-position: 0 -323px;
}
.fushi .title {
    background-position: 0 -360px;
}
.fushi .container .left {
    height: 495px;
    width: 201px;
    float: left;
}
.fushi .container .left a, .fushi .container .left img {
    width: 201px;
    height: 248px;
}
.fushi .container .left img {
    margin-bottom: 1px;
}
.fushi .container .middle {
    height: 495px;
    width: 808px;
    float: left;
    border-top: 1px solid #e8e7e8;
}
.fushi .container .middle .tabs ul {
    width: 150px;
    height: 495px;
    float: left;
}
.fushi .container .middle .tabs .tab {
    width: 108px;
    height: 100px;
    overflow: hidden;
}
.fushi .container .middle .tab.curr {
    background: url(../images/fushi/indexV2_2.gif) 0 0 no-repeat;
}
.fushi .container .middle .tabs .tab1 {
    margin-left: 30px;
    margin-top: 67px;
}
.fushi .container .middle .tab.curr .txt {
    color: #fff;
}
.fushi .container .middle .tab .txt {
    font-size: 16px;
    color: #312b30;
    float: left;
    margin: 30px 18px;
    overflow: hidden;
    width: 64px;
    height: 42px;
    display: block;
    line-height: 20px;
    text-align: center;
}
.fushi .container .middle .tabs .tab2 {
    margin-left: 30px;
    margin-top: 30px;
}
.fushi .container .middle .tabs .tab3 {
    margin-left: 30px;
    margin-top: 30px;
}
.fushi .container .middle .tab {
    background: url(../images/fushi/indexV2_2.gif) -117px 0 no-repeat;
}
.fushi .container .middle .tab-contents {
    width: 657px;
    height: 495px;
    float: left;
    position: relative;
}
.fushi .container .middle .left {
    position: relative;
    z-index: 2;
    width: 180px;
    height: 495px;
    float: left;
}
.fushi .container .middle .cls1 {
    height: 265px;
}
.fushi .container .middle .item {
    float: left;
    width: 180px;
}
.fushi .container .middle .item .triangle-container {
    margin-left: 84px;
    margin-top: 8px;
    width: 16px;
    height: 10px;
    display: block;
}
.fushi .container .middle .item .name {
    font-size: 12px;
    color: #312b30;
    margin-top: 8px;
    width: 180px;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    text-align: center;
    word-break: break-all;
    display: block;
}
.fushi .container .middle .item .price {
    font-size: 20px;
    color: #e43a3a;
    margin-top: 7px;
    text-align: center;
    display: block;
}
.fushi .container .middle .item .triangle-dowm {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 8px 0;
    border-color: #312b30 transparent transparent;
    display: block;
}
.fushi .container .middle .cls1 .itemImg {
    width: 180px;
    height: 180px;
    margin-top: 5px;
}
.fushi .container .middle .cls2 {
    height: 230px;
}
.fushi .container .middle .left .cls2 .name {
    margin-top: 20px;
}
.fushi .container .middle .item .triangle-container {
    margin-left: 84px;
    margin-top: 8px;
    width: 16px;
    height: 10px;
    display: block;
}
.fushi .container .middle .item .triangle-dowm {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 8px 0;
    border-color: #312b30 transparent transparent;
    display: block;
}
.fushi .container .middle .cls2 .itemImg {
    width: 120px;
    height: 120px;
    margin-top: 5px;
    padding: 0 30px;
}
.fushi .container .middle .cls3 {
    height: 228px;
}
.fushi .container .middle .cls3 .itemImg {
    width: 140px;
    height: 140px;
    margin-top: 5px;
    padding: 0 20px;
}
.fushi .container .middle .item .triangle-up {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 10px 8px;
    border-color: transparent transparent #312b30 transparent;
    display: block;
}
.fushi .container .middle .cls4 {
    height: 267px;
}
.fushi .container .middle .cls4 .itemImg {
    width: 160px;
    height: 160px;
    margin-top: 5px;
    padding: 0 10px;
}
.fushi .container .middle .bg {
    position: absolute;
    width: 380px;
    height: 495px;
    top: 0;
    right: 0;
    z-index: 1;
}
.fushi .container .top-right {
    height: 495px;
    width: 201px;
    float: left;
}
.fushi .container .top-right .title {
    background: #f7f5f7;
    font-size: 18px;
    color: #312b30;
    text-align: center;
    overflow: hidden;
    line-height: 40px;
    height: 40px;
    width: 200px;
    margin-left: 1px;
}
.floor .top-right .tabs {
    width: 198px;
    text-align: center;
    font-size: 0;
}
.floor .top-right .tabs .wrapper {
    font-size: 0;
    display: inline-block;
    width: 180px;
    height: 30px;
    border-bottom: 2px solid #e8e7e8;
}
.fushi .container .top-right .item {
    width: 200px;
    height: 84px;
    display: block;
}
.fushi .container .top-right .item .itemImg {
    padding: 10px 12px 10px 12px;
    width: 60px;
    height: 60px;
    float: left;
}
.fushi .container .top-right .item .name {
    width: 108px;
    height: 36px;
    overflow: hidden;
    padding-top: 10px;
    font-size: 12px;
    color: #312b30;
    line-height: 18px;
}
.fushi .container .top-right .item .price {
    font-size: 20px;
    color: #e43a3a;
    margin-top: 6px;
    height: 18px;
    float: left;
}
.fushi .item:hover img{
    transform: translateX(-5px);
}
.jujia .title {
    background-position: 0 -396px;
}
.yundong .title {
    background-position: 0 -432px;
}
.zhongbiao .title {
    background-position: 0 -468px;
}
.guessLike .title {
    background-position: 0 -539px;
}
.guessLike .like {
    float: left;
    width:1210px;
    height: 352px;
    border-bottom: 2px solid #f5f5f5;
}
.guessLike .like .items {
    height: 235px;
    margin: 20px 20px 16px 20px;
    overflow: hidden;
}
.guessLike .like li {
    float: left;
    width: 150px;
    margin-right: 55px;
}
.guessLike .like .itemImg {
    width: 150px;
    height: 150px;
}
.guessLike .like .name {
    display: block;
    color: #312b30;
    width: 150px;
    height: 32px;
    line-height: 16px;
    overflow: hidden;
    word-break: break-all;
}
.guessLike .like .price {
    display: block;
    font-size: 20px;
    font-family: Arial;
    font-weight: 700;
    color: #e43a3a;
    margin-top: 14px;
}
.guessLike .like .hScroll{
    width: 1845px;
    transition: transform 1s;
}
.guessLike .control {
    margin-left: 20px;
}
.guessLike .next, .guessLike .prev {
    width: 30px;
    height: 30px;
    float: left;
}
.guessLike .prev i {
    display: block;
    background: url(../images/head_main/indexV2.png) -70px 0 no-repeat;
    width: 30px;
    height: 30px;
}
.guessLike .prev i:hover {
    background: url(../images/head_main/indexV2.png) -139px 0 no-repeat;
}
.guessLike .like .scrollbar {
    width: 1090px;
    height: 2px;
    background: #f7f5f7;
    border-radius: 100px;
    float: left;
    z-index: 1;
    margin: 13px 5px 0 5px;
}
.guessLike .like .scrollbar .handle {
    background: #312b30;
    border-radius: 100px;
    z-index: 2;
    height: 3px;
    width: 239px;
    transition: transform 1s;
}
.scrollbar .handle .mousearea {
    position: absolute;
    top: -9px;
    left: 0;
    width: 100%;
    height: 20px;
}
.guessLike .next i {
    display: block;
    background: url(../images/head_main/indexV2.png) -106px 0 no-repeat;
    width: 26px;
    height: 26px;
}
.guessLike .next i:hover {
    background: url(../images/head_main/indexV2.png) -175px 0 no-repeat;
}
.links .container {
    width: 105%;
}
.links .container .img {
    float: left;
    width: 160px;
    margin-right: 10px;
    position: relative;
}
.links .container img {
    width: 160px;
    height: 130px;
}

.links .container .txt {
    font-size: 18px;
    color: #312b30;
    display: block;
    position: absolute;
    top: 88px;
    left: 46px;
    width: 72px;
    height: 20px;
    overflow: hidden;
}
.links a span.line {
    display: block;
    width: 20px;
    height: 3px;
    background: #fff;
    margin: -10px auto 0;
    opacity: .5;
    transition: width .3s ease-out;
}
.links .container .img:hover .line{
    width: 40px;
}
.links {
    height: 160px;
    overflow: hidden;
}
.guarantee {
    background: #f7f5f7;
    height: 407px;
    text-align: center;
    min-width: 1210px;
    overflow: hidden;
    margin-top: 60px;
}
.guarantee .title {
    font-size: 0;
    margin-top: 38px;
    width: 618px;
    display: inline-block;
}
.guarantee .title .txt {
    font-size: 24px;
    color: #312b30;
    line-height: 24px;
    margin-right: 8px;
}
.guarantee .title i {
    display: inline-block;
    margin-right: 14px;
    margin-bottom: 5px;
    width: 6px;
    height: 6px;
    background-image: url(../images/links/load.png);
}
.guarantee .imgs {
    height: 234px;
    margin-top: 37px;
}
.guarantee .imgs .container {
    width: 105%;
}
.guarantee .imgs .pic_container {
    width: 206px;
    height: 234px;
    float: left;
    margin-right: 45px;
    position: relative;
    background: #fff;
    display: block;
}
.guarantee .imgs .pic_container .main_img {
    width: 200px;
    height: 200px;
}
.guarantee .imgs .pic_container .dec {
    position: absolute;
    top: -14px;
    right: -15px;
    width: 27px;
    height: 201px;
}
.guarantee .imgs .pic_container .info {
    display: block;
    margin-top: 9px;
    font-size: 12px;
    color: #9a949b;
    height: 18px;
    overflow: hidden;
}
.guarantee .more_info {
    margin-top: 21px;
    width: 88px;
    height: 16px;
    left: 50%;
    position: absolute;
    margin-left: -40px;
    display: block;
}
.guarantee .more_info .txt {
    font-size: 12px;
    color: #312b30;
    float: left;
    width: 72px;
    height: 18px;
    overflow: hidden;
}
.guarantee .more_info i {
    background: url(../images/links/nav2016.png) -83px -102px no-repeat;
    float: left;
    width: 10px;
    height: 10px;
    margin: 5px 0 0 3px;
}
.go-top {
    width: 60px;
    border: 1px solid #312b30;
    border-top: 0;
    z-index: 12;
    position: fixed;
    bottom: 2px;
    right: 104.5px;
    // display: none;
}
.go-top a.cart {
    position: relative;
    height: 40px;
}
.go-top a {
    background: #fff;
    display: block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #000;
    border-top: 1px solid #312b30;
}
.go-top a.cart i {
    display: block;
    background: url(../images/links/gotop.png) 0 0 no-repeat;
    width: 20px;
    height: 21px;
    margin: 10px 0 0 22px;
}
.go-top a.hover, .go-top a:hover {
    color: #863177;
    background: #ebe2eb
}
.go-top .j-go-top {
    background: #312b30;
    display: block;
    width: 60px;
    height: 40px;
    padding: 0;
}
.go-top .j-go-top i {
    display: block;
    background: url(../images/links/gotop.png) 0 -49px no-repeat;
    width: 16px;
    height: 10px;
    margin: 15px 0 0 22px;
}
.wanju .title {
    background-position: 0 -502px;
}
#w-footer {
    margin-top: 60px;
    min-width: 1210px;
}
#w-footer .foot-wp {
    background: #ff3e68;
    padding: 41px 0 10px 0;
}
 #w-footer .foot-wp .logo {
    float: left;
    margin-left: 10px;
}
#w-footer .foot-wp .logo i {
    background: url(../images/logo.png) no-repeat;
    width: 150px;
    height: 59px;
    display: block;
}
#w-footer .foot-wp .col {
    float: left;
    margin-left: 43px;
    padding-top: 6px;
}
 #w-footer .foot-wp .col li {
    float: left;
    width: 135px;
    height: 122px;
    padding-left: 64px;
}
#w-footer .foot-wp .col li .title {
    width: 72px;
    display: block;
    margin-bottom: 16px;
    font-size: 18px;
    color: #fff;
    cursor: default;
}
#w-footer .foot-wp .col li a {
    display: block;
    padding-left: 1px;
    color: #d6d6d6;
    line-height: 22px;
    font-size: 12px;
    text-decoration: none;
}
 #w-footer .foot-bm {
    padding-top: 35px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}
 #w-footer .foot-wp .col .fore5 {
    width: 144px;
    border-right: 0;
}
#shortcut .style-red{
    color: #C81623;
  }
  #tishi{
       width: 410px;
       position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 100;
    display: none;
   .title{
       width: 390px;
       position: relative;
    padding: 0 10px;
    height: 31px;
    line-height: 31px;
    background: #f3f3f3;
    font-size: 14px;
    color: #666;
    font-family: "Microsoft YaHei";
    span{
        float: left;
    }
    a{
        float: right;
    }
   }
   .tsbody{
       margin: 0 22px;
       margin-top: 40px;
       width: 346px;
       height: 243px;
       display: none;
       img{
           width: 200px;
           height: 200px;
           display: block;
           margin: auto;
       }
   }
   .qdl{
       display: block;
       width: 100%;
       height: 300px;
       line-height: 300px;
       text-align: center;
       font-size:20px;
       color: blue;
       display: none;
   }
  }
  .cart-empty {
    height: 98px;
    padding: 80px 0 120px;
    color: #333;
    .message {
        height: 98px;
        padding-left: 341px;
        background: url(../images/shopcar/no-login-icon.png) 250px 22px no-repeat;
        ul{
            padding-top: 23px;
            li{
                line-height: 26px;
                .ftx-05{
                    color: #005ea7;
                }
            }
            .txt{
                font-size: 14px;
            }
        }
    }
    display: none;
}
.btn-1 {
    font-family: arial,"microsoft yahei";
    display: inline-block;
    height: 25px;
    line-height: 25px;
    background-color: #e74649;
    background-image: linear-gradient(to top,#e74649 0,#df3134 100%);
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px;
    vertical-align: middle;
    cursor: pointer;
    border: 0;
    margin-right: 10px;
    float: none;
    transition: all .2s ease-out;
}