@font-face {
    font-family: "icon";
    src: url('../images/font_tjf332q6a7h/iconfont.eot');
    src: url('../images/font_tjf332q6a7h/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../images/font_tjf332q6a7h/iconfont.svg#icomoon') format('svg'),
        url('../images/font_tjf332q6a7h/iconfont.woff') format('woff'),
        url('../images/font_tjf332q6a7h/iconfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.iconfont {
    font-family: "icon";
}

*{
    padding: 0;
    margin: 0;
}
ul,li{
    list-style: none;
}

a {
    text-decoration: none;
}
.content {
    width: 1210px;
    margin: auto;
    height: 100%;
}
#head_wrapper{
    height: 535px;
    min-width: 1210px;
    overflow: hidden;
}
